[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansiscape = "~=1.0"
naughtty = "~=1.0"

[dev-packages]
black = "==21.9b0"
flake8 = "*"
isort = "*"
mkdocs = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
twine = "*"
shellcheck-py = "*"
yamllint = "*"
types-pyyaml = "*"

[requires]
python_version = "3.9"
